* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 14px;
  background: #e5e5e5;
  /* overflow-x: hidden; */
}
/*navbar*/
.search-box {
  height: 100%;
  border: none;
  right: 0;
  float: right;
}
.nav-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 200px;
  opacity: 1;
  position: absolute;
  right: 1rem;
}
.nav-icon {
  border: none;
  /* background: rgba(74, 73, 73, 1); */
  opacity: 1;
}
.nav-image {
  width: 59px;
  height: 39px;
  border-radius: 50%;
  overflow: hidden;
}

.big-nav {
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  position: fixed;
  z-index: 2;
}
.v1748_2136 {
  width: 100%;
  height: 1px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v1748_2137 {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 1);
  /* background-color: red;*/
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 256px;
  overflow: hidden;
}
.v1748_2138 {
  width: 36px;
  height: 36px;
  /* background: url("../images/v1748_2138.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1366px;
  overflow: hidden;
}
.v1748_2139 {
  width: 36px;
  height: 36px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1748_2140 {
  width: 59px;
  height: 39px;
  /* background: url("../images/v1748_2140.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
.v1748_2141 {
  width: 42px;
  height: 42px;
  background: url("../images/v1748_2141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 87px;
  overflow: hidden;
}
.logo {
  width: 28px;
  height: 28px;
  /* background: url("../images/v1748_2142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
}
.v1748_2143 {
  width: 28px;
  height: 28px;
  /* background: rgba(14, 74, 189, 1); */
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1748_2144 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 5px;
  height: 6px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
}
/* .name {
  color: #fff;
}
.name {
  color: #fff;
} */
.search-form {
  width: 255px;
  height: 48px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 387px;
  overflow: hidden;
}
.v1748_2148 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 255px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1748_2149 {
  width: 50px;
  color: rgba(74, 73, 73, 1);
  position: absolute;
  top: 14px;
  left: 72px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
/* .name {
  color: #fff;
} */
/*sidebar*/
.sidebar-div {
  background: rgba(255, 255, 255, 1);
  top: 80px;
  position: fixed;
  width: 16rem;
  height: 1316px;
  left: 0;
  padding-left: 1rem;
}
.sidebar-nav {
  display: flex;
  align-items: center;
}
.dropdown-btn {
  color: #0f4bbe;
  display: block;
  border: none;
  background: none;
  font-size: 1rem;
  text-align: left;
  outline: none;
  display: block;
  padding-left: 0;
}

/*header text*/
.header-p {
  opacity: 1;
  margin-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p1 {
  color: #020202;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  margin-left: 256px;
  margin: 0 auto;
}
.p2 {
  color: #4b4a4a;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 1rem;
  opacity: 1;
}
.p3 {
  color: #4b4a4a;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
}

.select-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  width: 20rem;
  height: 48px;
  border-radius: 15px;
}
.categories {
  border: none;
  height: 48px;
}

/*courses*/
.courses-wrapper {
  left: 0;
  opacity: 1;
  height: 1316px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.v1748_1779 {
  width: 350px;
  height: 458px;
  opacity: 1;
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
}
.v1748_1780 {
  width: 350px;
  height: 458px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  overflow: hidden;
}
.v1748_1781 {
  width: 87px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 274px;
  left: 241px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1748_1782 {
  width: 30px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 302px;
  left: 294px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1748_1783 {
  width: 35px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 330px;
  left: 294px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1748_1784 {
  width: 181px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 206px;
  left: 24px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1748_1785 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 246px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1748_1786 {
  width: 87px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 274px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1748_1787 {
  width: 93px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 302px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1748_1788 {
  width: 97px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 330px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1748_1789 {
  width: 144px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 246px;
  left: 196px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.button {
  width: 133px;
  height: 48px;
  /* background: url("../images/v1748_1790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 24px;
  overflow: hidden;
}

.button2 {
  width: 133px;
  height: 48px;
  background: rgba(14, 74, 189, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
  overflow: hidden;
}
.button2:hover {
  background: rgba(255, 255, 255, 1);
}
.button2:hover .button2-text {
  color: rgba(14, 74, 189, 1);
}
.button2-text {
  width: 101px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1748_1793 {
  width: 350px;
  height: 182px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1748_1794 {
  width: 350px;
  height: 182px;
  background: rgba(224, 221, 221, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v1748_1795 {
  width: 350px;
  height: 234px;
  height: 182px;
  background: url("https://images.unsplash.com/photo-1561494653-744c43aed0c1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1029&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  top: 0;
  left: 0px;
  overflow: hidden;
  border-radius: 25px;
}

/*media querries*/
@media (max-width: 768px) {
  .nav-icon {
    display: none;
  }
  .nav-icons {
    width: auto;
  }
  .search-form {
    display: none;
  }
  .courses-wrapper {
    height: 3500px;
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0;
  }
  .sidebar-div {
    display: none;
  }
  #main {
    left: 0 !important;
    width: 100% !important;
  }
  .search-form {
    width: 6rem;
  }
  .v1748_1779 {
    width: 90vw;
    margin-left: auto;
  }
  .header-p {
    margin-left: 2rem;
  }
}
